@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


:root {
  /* 'Poppins' */
  font-family: 'Poppins', system-ui, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  user-select: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme{
  --color-gray:#202020;
  --color-dark_gray:#404040;
  --color-blue_gray:#313F48;
  --color-yellow:#FABA0B;
  --color-white:white;

}

@layer utilities {
  .screen-size {
    @apply max-w-screen-2xl w-[95%] mx-auto;
  }
  .bg-gradient{
    @apply bg-gradient-to-t from-[#0D1A1F] to-[#47555F];
  }
  .center {
    @apply flex justify-center items-center;
  }
  .title{
    @apply text-4xl font-semibold
  }
  .text_size_1 {
    @apply text-4xl font-medium;
  }
  .text_size_2 {
    @apply text-2xl font-medium;
  }
  .para {
    @apply text-[18px];
  }

  .bg_image{
    background-image: url(../assets/HomeSection/Banner/Banner.jpg);
    @apply bg-cover bg-no-repeat bg-center h-screen
  }
  
  @keyframes move {
    0% {
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
    }
    50% {
      left: 80vw; /* Move to the right */
      top: 50%;
      transform: translateY(-50%);
    }
    100% {
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  
  .animate-move {
    animation: move 12s infinite alternate;
  }
  

 @keyframes spin {
    to {
      transform: rotate(180deg);
    }
  }
  
  .animate-spin-custom {
    animation: spin 10s linear infinite;
  }
  
}

