@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


:root {
  /* 'Poppins' */
  font-family: 'Poppins', system-ui, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  user-select: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme{
  --color-gray:#202020;
  --color-dark_gray:#404040;
  --color-blue_gray:#313F48;
  --color-lite_gray:#F1F1F1;
  --color-ash_gray:#909090;
  --color-primary:#FABA0B;
  --color-white:white;
  --color-sandal:#FFE7A4;
  --color-blogYellow:#FFD258;
  --color-blogWhite:#FBFBFB;
}

@layer utilities {
  .screen-size {
    @apply max-w-screen-2xl w-[95%] mx-auto;
  }
  .bg-gradient {
    @apply bg-gradient-to-t from-[#0D1A1F] to-[#47555F];
  }
  .center {
    @apply flex justify-center items-center;
  }
  .vertical {
    @apply flex flex-col items-center justify-center;
  }
  .between {
    @apply flex justify-between items-center;
  }
  .title{
    @apply  text-xl sm:text-2xl font-semibold
  }
  .title_2{
    @apply text-xl sm:text-2xl font-semibold
  }
  .title_1{
    @apply text-4xl sm:text-[40px] font-semibold
  }
  .title_3{
    @apply text-xl font-semibold
  }
  .title_4 {
    @apply text-4xl font-semibold
  }
  .title_5 {
   @apply text-2xl font-semibold
  }
 


  .text_size_1 {
    @apply text-2xl sm:text-4xl font-medium;
  }
  .text_size_2 {
    @apply text-xl sm:text-2xl font-medium;
  }
  .text_size_3 {
    @apply text-[28px] font-semibold
   } 
   .text_size_4 {
    @apply text-[22px] font-medium
   } 
   .text_size_5 {
    @apply text-lg font-medium
   } 
  .para {
    @apply text-base sm:text-lg;
  }
  .para_1 {
    @apply text-base sm:text-lg font-medium;
  }
  .btn {
    @apply px-6 py-2 text-center rounded-lg font-semibold text-base text-gray bg-primary;
  }
  .btn-1 {
    @apply px-6 py-2 text-center rounded-full font-semibold text-base text-gray bg-primary;
  }
  .bg_image{
    background-image: url(../assets/HomeSection/Banner/Images/Banner.jpg);
    @apply bg-cover bg-no-repeat 
  }
  
  
  @keyframes move {
    0% {
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
    }
    50% {
      left: 70%; 
      top: 50%;
      transform: translateY(-50%);
    }
    100% {
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .animate-move {
    animation: move 60s infinite alternate;
  }
  
 @keyframes spin {
    to {
      transform: rotate(180deg);
    }
  }
  .animate-spin-custom {
    animation: spin 30s linear infinite;
  }
 @keyframes spins {
    to {
      transform: rotate(180deg);
    }
  }
  .animate-spin {
    animation: spin 10s linear infinite;
  }

  @keyframes bounceCustom {
    0%, 100% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  .animate-bounce-custom {
    animation: bounceCustom 20s ease-in-out infinite;
  }
  
  @keyframes bounceCustomShadow {
    0%, 100% {
      transform: translateY(-20px); 
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    }
    50% {
      transform: translateY(10px); 
      box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6); 
    }
  }
  
  .animate-bounce-custom-shadow {
    animation: bounceCustomShadow 20s ease-in-out infinite;
  }
  
}